<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title>GUIHealthAdapterFacade</title>
 	<link href="/disi.css" rel="stylesheet">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
//The following constants are those defined in it.unibo.HealthAdapterFacade.HealthService
//API SYNCH
	const selectHealthCenterUri    ="/selectHealthCenterSynch";
	
	const createResourceUriSynch   ="/createResourceSynch";
	const readResourceUriSynch     ="/readResourceSynch";
	const searchResourceUriSynch   ="/searchResourceSynch";	
	const updateResourceUriSynch   ="/updateResourceSynch";
	const deleteResourceUriSynch   ="/deleteResourceSynch";
	
//API ASYNCH 
	const createResourceUri   		="/createResource";
	const readResourceUri   		="/readResource";
	const searchResourceUri  		="/searchResource";
	const updateResourceUri  		="/updateResource";
	const deleteResourceUri 		="/deleteResource";

	const startDatafluxUri   		="/startDataflux";
 	const stopDatafluxUri   		="/stopDataflux";

 	const subscribehotfluxUri  		="/subscribeflux";


//API FOR HL7 CONVERSION
	const cvtHL7ToFHIRUri  		    ="/cvthl7tofhir";
    //const cvtHostAddr               = "localhost:2019/api/convert/hl7v2";
    
    
    function started(){
    	$("i.infoArea").text(  "application started" );
    }
    
    function cleanOutputArea() {
    	$("pre.resultArea").text(  "" );
 	}
 	
 	function selectHealthCenter( choice){
		var serveraddr = serverAddr.options[serverAddr.selectedIndex].value;
		alert( serveraddr );
		//serveraddr = document.getElementById("serveraddr");
		var message =  JSON.stringify( {argchoice: choice, argserveraddr: serveraddr} ) ;
		//alert( message );
        fetch("/selectHealthCenterSynch", {method: "POST", body: message}).then(function (response) {
        	if (response.ok) {
 	            $("i.infoArea").text(  "selectHealthCenter " + choice + "  done" );	
            }
        });           		
	}
	    
/*
====================================================================
CRUD operations    
====================================================================
*/ 	 	

	function showResRepJson( msg, answer ){
      		try{
	      		var resourceobj    = JSON.parse(answer);     
	      		var jsonObjStr     = JSON.stringify( resourceobj, null, 2 );    
	    		var resourceid     = resourceobj.id;      
	    		$("pre.resultArea").text(  jsonObjStr );		
	      		$("i.infoArea").text(  msg +  resourceid);	
	      	}catch( e ){ //answer is not a json object
				//alert(  "showResRepJson " +  e);
	      		//$("i.infoArea").text(  msg + e);
				throw(e);
	      	}
	}
	function showJson(  answer ){
      		try{
	      		var resourceobj    = JSON.parse(answer);     
	      		var jsonObjStr     = JSON.stringify( resourceobj, null, 2 );    
 	    		alert(jsonObjStr);		
 	      	}catch( e ){ //answer is not a json object
 	      		alert( e);
	      		//$("i.infoArea").text(  e);
	      	}
	}
	
	function showConvertedResRepJson( msg, answer ){
      		try{
//      			console.log(answer);		//answer includes the HL7 data rewritten in Json
	      		var answerobj      = JSON.parse(answer);   
// 	      		var hl7dataeobj    = answerobj.unusedSegments;
// 	      		showJson(  hl7dataeobj ) ;	  
 	      		var resourceobj    = answerobj.fhirResource;
 	      		var jsonObjStr     = JSON.stringify( resourceobj, null, 2 );    
	    		var resourceinfo   = resourceobj.entry[0].resource.resourceType;      
	    		$("pre.resultArea").text(  jsonObjStr );		
	      		$("i.infoArea").text(  msg +  resourceinfo);	
	      	}catch( e ){ //answer is not a json object
	      		$("i.infoArea").text(  "ERROR:" + msg + e);
	      	}
	}	
	function showAnswer( msg, isasynch, answer ){
      	//alert( answer );		//answer: the resource if asynch else a message
		if( isasynch ) msg = msg + " asynch ";
      	//showResRepJson( msg + " done for resource id=", answer );
      	try{ 
			showResRepJson( "", answer );
		}catch(e){
      			//alert( "showAnswer " + answer );		//answer: the resource if asynch else a message
	    		//$("pre.resultArea").text(  answer );		
	      		$("i.infoArea").text(  answer );				
		}
	}

/*
-------------------------- 
CREATE
-------------------------- 
*/

 	function createAResourceFromFile(    ) {	 
		var jsonFileNames = document.getElementById("jsonFileNameResource").files;	 
		var fr=new FileReader(); 
		var file = jsonFileNames[0];
  		//alert( file.size );
        fr.onload=function(evt){ 
			var jsonStr = evt.target.result;
			createAResource(jsonFileNames[0].name, jsonStr);				//ASYNCH			
        } 		 
		fr.readAsText( file, "UTF-8" ); 		 
	}

	//See https://www.html.it/pag/66525/fetch-api/
	function createAResource(  fName, jsonStr ) {	 
        // --------- define the apiname -------------------------------------------
		var isasynch = document.getElementById('asynchchoice').checked;
		var apiname = isasynch ? createResourceUri : createResourceUriSynch  ;
        // --------- get the user input values -----------------------------------
     	var resourceobj  = JSON.parse(jsonStr);        
     	//alert( fName );
      	$("i.infoArea").text(  "creating resource from ... " + fName );	     	
 		// --------- create --------------------------------------------------
        fetch(apiname, {method: "POST", body: jsonStr}).then(function (response) {
        	if (response.ok) {
        		console.log(  "creation from " +  fName + "  done response.type=" + response.type  ); //promise
      			return response.text() ;		
      		}}).then( function (answer) {  // promise
      		    showAnswer( "create from " + fName, isasynch, answer );
      		});         
    }
       
/*
-------------------------- 
READ
-------------------------- 
*/ 
   function readAResource(){		 
        // --------- define the apiname -------------------------------------------
		var isasynch = document.getElementById('asynchchoice').checked;
		var apiname = isasynch ? readResourceUri : readResourceUriSynch  ;
        // --------- read the user input values -----------------------------------
      	$("pre.resultArea").text(  "" );
     	//var resourceType = document.getElementById("resourcetype").value;
        var resourceType = Resourcetype.options[Resourcetype.selectedIndex].value;
    	var resourceid   = document.getElementById("resourceid").value;
    	//alert( resourceType  );
		// --------- read --------------------------------------------------
      	$("i.infoArea").text(  "reading " + resourceid + " ... ");		
        fetch(apiname+"/"+resourceid+"&"+resourceType, {method: "GET"}).then(function (response) {
        	if (response.ok) {
        		console.log(  "read  done response.type=" + response.type  ); //promise
      			return response.text() ;		// 
      		}}).then( function (answer) { //answer is the json rep of the resource
       			showAnswer( "read", isasynch, answer );
       		});         								
    } 
 	
/*
-------------------------- 
SEARCH
-------------------------- 
*/ 	
    function searchAResourceFromFile(){
   		//Read the resource query json file
		var jsonSeachFileNames = document.getElementById("jsonFileNameSearch").files;	
		var fr=new FileReader(); 
		var file = jsonSeachFileNames[0];
  		//alert( file.size );
        fr.onload=function(evt){ 
			var queryjsonStr = evt.target.result;
            document.getElementById("searchpattern").value = queryjsonStr;
			//search 
			searchResource(queryjsonStr);
        } 		 
		fr.readAsText( file, "UTF-8" ); 		  //
    }

	/*
	WARNING: 
		1) createAPatient POST con body invia bene una stringa Json
		2) searchResource GET non permette l'uso di [ ] nella stringa dei parametri
	*/
	function searchResource( queryjsonStr ){		 
         // --------- define the apiname -------------------------------------------
		var isasynch = document.getElementById('asynchchoice').checked;
		var apiname = isasynch ? searchResourceUri : searchResourceUriSynch  ;
        // --------- read the user input values -----------------------------------
  		//alert(jsonStr);
      	var resourceobj  = JSON.parse(queryjsonStr);        
    	//var resourceType = resourceobj.resourceType;		    //TODO: some other value common to all resources
   	    //var resourceName = resourceobj.given;				//TODO: some other value common to all resources
   	    //var jsonStrok  = JSON.stringify(resourceobj);		/
    	 $("pre.resultArea").text(  "" );
    	
   		// --------- search --------------------------------------------------
      	$("i.infoArea").text(  "searching  ... ");		
      	alert(queryjsonStr);
        fetch(apiname+"/"+queryjsonStr, {method: "GET"}).then(function (response) {
        	if (response.ok) {
        		console.log(  "read  done response.type=" + response.type  ); //promise
      			return response.text() ;		// 
      		}}).then( function (answer) { //answer is the json rep of the created resource
      			//showAnswer( "search", isasynch, answer );
      			//answer is now always a bundle ...
      			showResRepJson( "search result:", answer);
       		});         					
	}
	
    function searchAResource(){
   		//Read the resource query from the input
		var queryjsonStr = document.getElementById("searchpattern").value;
		//alert( 	queryjsonStr );
		searchResource(queryjsonStr);
     }


/*
-------------------------- 
UDATE
-------------------------- 
*/ 		
	function  updateAResource(   ) {		//ASYNCH API-> /updateResource  PUT
        // --------- define the apiname -------------------------------------------
		var isasynch = document.getElementById('asynchchoice').checked
		var apiname = isasynch ? updateResourceUri : updateResourceUriSynch  ;
        // --------- read the user input values -----------------------------------
	 	//resType  = document.getElementById("updateresourcetype").value;
		var resType = Rtype.options[Rtype.selectedIndex].value;
	 	var resId   = document.getElementById("updateresourceid").value;
   		//Read the resource update json file
		var jsonSeachFileNames = document.getElementById("jsonFileNameUpdate").files;	
		var fr=new FileReader(); 
		var file = jsonSeachFileNames[0];
  		//alert( file.size );
        fr.onload=function(evt){ 
			var resourcejsonStr = evt.target.result;
            //alert( resourcejsonStr );
            var jsonObj = JSON.parse(resourcejsonStr);
            // --------- inject the id and modify a filed (just to check) --------
            jsonObj.name[0].family =  "UniboFromGui";		//modify
            jsonObj.id      = resId;						//modify or insert the id
            var jsonUpdateStr = JSON.stringify( jsonObj, null, 2 );			
			// --------- update --------------------------------------------------
			$("pre.resultArea").text(  "UPDATING RESOURCE:\n"+jsonUpdateStr );  
         	fetch(apiname, {method: "PUT", body: jsonUpdateStr}).then(function (response) {
        	if (response.ok) {
        		console.log(  "update  done response.type=" + response.type  ); //promise
      			return response.text() ;		// 
      		}}).then( function (answer) { //answer is the json rep of the created resource
      			showAnswer( "update", isasynch, answer );
       		});         				
        } 		 
		fr.readAsText( file, "UTF-8" ); 		  //
	}
	
/*
-------------------------- 
DELETE
-------------------------- 
*/ 	
   function deleteAResource() {		 
        // --------- define the apiname -------------------------------------------
		var isasynch = document.getElementById('asynchchoice').checked;
		var apiname = isasynch ? deleteResourceUri : deleteResourceUriSynch  ;
         // --------- read the user input values -----------------------------------
        //resourceType  = document.getElementById("resourcetype");
		var resourceType = Resourcetype.options[Resourcetype.selectedIndex].value;
    	var resourceId   = document.getElementById("resourceid");
	    //alert(resourceType + " " + resourceId.value);
        var message   = resourceType  + "&"+ resourceId.value ;
    	console.log("deleteAResource  "+ message);
    	$("i.infoArea").text(  "deleting ..." );	
        fetch(apiname, {method: "DELETE", body: message} ).then(function (response) {
         	if (response.ok) {
        		console.log(  "delete  done response.type=" + response.type  ); 
      			return response.text() ;		//promise 
      		}}).then( function (answer) {  
      			showAnswer( "delete " + resourceId, isasynch, answer );
       		});         					         
    }
 
/*
====================================================================
MONITOR    
====================================================================
*/ 	 
	//curl http://localhost:8081/actuator/health -i -X GET		=> JSON
    function monitor( topic ){
      	$("pre.resultArea").text(  "" );
        $("i.infoArea").text(  "monitoring " + monitor  );	
 		$.get("/actuator/"+topic, function(data){	 //data seems in JSON 
 				//data is a JSON object
 				//Object.getOwnPropertyNames(data)  => status, components
 				//Object.getOwnPropertyNames(data.components) => diskSpace,mongo,ping
 				//https://www.w3schools.com/jsref/jsref_stringify.asp
  				$("pre.resultArea").text(  JSON.stringify( data, null, 2 ) );	//['status', 'components'] is a replace filter
     			$("i.infoArea").text(  "monitor " + topic +"  done" );	
 		});  
 	}
 	
/*
====================================================================
DATA FLUX
====================================================================
*/

function subscribeTheHotDataFlux(){
		var message="nothing";
        fetch(subscribehotfluxUri, {method: "POST", body: message} ).then(function (response) {
         	if (response.ok) {
       			return response.text() ;		//promise 
      		}}).then( function (answer) {  
      			$("pre.resultArea").text(  answer );
       		});         					         
}

function startDataFlux(){
    	$("i.infoArea").text(  "starting dataflux ..." );	
    	var iscold = document.getElementById('datachoice').checked;
    	var message = iscold ? "cold" : "hot";
        fetch(startDatafluxUri, {method: "POST", body: message} ).then(function (response) {
         	if (response.ok) {
       			return response.text() ;		//promise 
      		}}).then( function (answer) {  
      			$("pre.resultArea").text(  answer );
       		});         					         
}	

function stopDataFlux(){
    	$("i.infoArea").text(  "stopping dataflux ..." );	
    	var message = "args to be defined";
        fetch(stopDatafluxUri, {method: "POST", body: message} ).then(function (response) {
         	if (response.ok) {
       			return response.text() ;		//promise 
      		}}).then( function (answer) {  
      			$("pre.resultArea").text(  answer );
       		});         					         
}	


/*
====================================================================
CONVERT
====================================================================
*/

function readHL7DataFromFile(    ) {	 
         // --------- read the user input values -----------------------------------
        //var templateFile  = document.getElementById("templatehl7FileName");
        var cvttemplate     = document.getElementById("cvttemplate");
        var selected        = cvttemplate.options[cvttemplate.selectedIndex].value;
         
        //alert(cvttemplate);
    	var dataFile      = document.getElementById("hl7FileName").files;
    	//alert( templateFile.value + " " + dataFile.value );
 		var fr=new FileReader(); 
		var file = dataFile[0];
  		//alert( file.size );
        fr.onload=function(evt){ 
			var hl7Data = evt.target.result;
			//console.log( hl7Data );
			//convertHL7ToFHIR( templateFile.value, hl7Data);	//ASYNCH		
			convertHL7ToFHIR( selected , hl7Data);	
        } 		 
		fr.readAsText( file, "UTF-8" ); 		 
	}


function convertHL7ToFHIR( selectedTemplate, hl7Data ){
        var message   = hl7Data  + "///" +  selectedTemplate  ;
     	console.log(  message );
    	$("i.infoArea").text(  "converting ..." );	 
        fetch(cvtHL7ToFHIRUri, {method: "POST", body: message} ).then(function (response) {
         	if (response.ok) {
       			return response.text() ;		//promise 
      		}}).then( function (answer) {  
      			showAnswer( "convert "  , false, answer );
      			$("i.infoArea").text(  "convertion done" );	 
      			//$("pre.resultArea").text(  answer );
      			//showConvertedResRepJson("FHIR RESOURCE:",answer);
       		});         					         
}

</script>


 </head>
 

<body onload=started()>
<h1>DISI - GUI HealthAdapterFacade</h1>
<!--
<h2>References</h2>
<m>
<ul>

<li><a href="https://www.hl7.org/fhir/R4/resourcelist.html" target="web">FHIR 1.2 Resource Index</a>: 
help find FHIR resources quickly
</li>


<li><a href="https://www.hl7.org/fhir/R4/patient.html" target="web">FHIR 8.1 Resource Patient - Content</a>: 
specifica della risorsa e sue rappresentazioni XML, UML, Json, etc
</li>

<li><a href="https://www.hl7.org/fhir/R4/search.html" target="web">FHIR 3.1.1 Search</a>: 
describes the FHIR search framework
</li>
 
<li>
<a href="https://hapifhir.io/hapi-fhir/apidocs/hapi-fhir-structures-r4/" target="web">HAPI FHIR Structures</a>: 
&nbsp;&nbsp;
<a href="https://hapifhir.io/hapi-fhir/apidocs/hapi-fhir-base/index-all.html" target="web">HAPI FHIR Api docs</a>
&nbsp;&nbsp;
<a href="https://hapifhir.io/hapi-fhir/apidocs/hapi-fhir-structures-r4/undefined/org/hl7/fhir/r4/model/Patient.html" target="web">
HAPI FHIR Patient docs</a>
</li>

<li><a href="http://htmlpreview.github.com/?https://github.com/anatali/natmaterial/blob/master/health/userDocs/HealthReferences.html" target="web"> 
DISI - HealthReferences.html</a> (on <tt>natmaterial .... health/userDocs/</tt>) </li>

<li><a href="http://htmlpreview.github.com/?https://github.com/anatali/natmaterial/blob/master/health/userDocs/HapiFhirUsage.html" target="web"> 
DISI - HapiFhirUsage.html</a> (on <tt>natMicroservices .... it.unibo.mirth.java/userDocs/</tt>) </li>
</ul>
</m> 
 
<hr/> 
-->

<!--
****************************************************************************
APPLICATION
****************************************************************************
--> 

<!-- STATE --> 
<h2>State: <i class="infoArea"></i></h2> 

<!-- SERVER --> 
Server address: 
  <select name="serverAddr" id="serverAddr">	<!-- SEE it.unibo.HealthResource.ResourceUtility -->
    <option value="http://localhost:9442/fhir-server/api/v4">ItelFHIR</option>
    <option value="http://34.78.71.250/fhir-server/api/v4">PublicItelFHIR</option>
    <option value="https://hapi.fhir.org/baseR4">HAPIReferenceFHIR</option>
  </select>

<!-- <input id="serveraddr" type="text" size="35" value="https://hapi.fhir.org/baseR4" autofocus></input>  -->
<button onclick="selectHealthCenter('FHIR')">selectFhir</button> 
<button onclick="selectHealthCenter('HL7')">selectHL7</button> 


 
 <!--
****************************************************************************
InputArea
****************************************************************************
-->  

<h3>InputArea (SEARCH & CRUD operations) 
<input id="asynchchoice" type="checkbox"  name="asynchchoice" value="asynch">
  <label for="asynchchoice">ASYNCH</label>
</h3>

<!-- SEARCH --> 
Search pattern: 
<input id="searchpattern" type="text" 
value='{ "resourceType":"Patient","given":"ElenaBologna","address":{"city":"Bologna","country":"Italy"}}' 
style="color:blue;font-size:10px" size="100" autofocus/>
    <button onclick="searchAResource()">Search</button> 
<br/><br/> 

<!-- CRUD --> 
<table style="width:98%">
<tbody>	
<!--
---------------------------------------
CREATE
---------------------------------------
-->
<tr>
<td style="width:45%" >Resource from a Json FILE
</td>
<td style="width:38%"><input type="file" id="jsonFileNameResource" />   
</td>
<td><button onclick="createAResourceFromFile(   )">Create</button>
 
</td>
</tr>

<!--
---------------------------------------
SEARCH
---------------------------------------
-->
<tr>
<td>Query from a Json FILE
</td>
<td><input type="file" id="jsonFileNameSearch" />   
</td>
<td> 
<button onclick="searchAResourceFromFile()">Search</button>  
</td>
</tr>

<!--
---------------------------------------
READ DELETE
---------------------------------------
-->
<tr>
<td><!-- Resource type:  <input id="resourcetype" type="text" value="Patient" size="20" autofocus/> -->
  <label for="Resourcetype">Resource type</label>
  <select name="Resourcetype" id="Resourcetype">	<!-- SEE it.unibo.HealthResource.ResourceUtility -->
    <option value="Patient">Patient</option>
    <option value="Task">Task</option>
    <option value="DeviceRequest">DeviceRequest</option>
    <option value="Timing">Timing</option>
    <option value="Device">Device</option>
    <option value="Observation">Observation</option>
    <option value="ObservationDefinition">ObservationDefinition</option>
    <option value="ActivityDefinition">ActivityDefinition</option>
    <option value="CarePlan">CarePlan</option>
    <option value="CareTeam">CareTeam</option>
    <option value="Goal">Goal</option>
    <option value="Encounter">Encounter</option>
    <option value="Practitioner">Practitioner</option>
    <option value="Organization">Organization</option>
    <option value="Endpoint">Endpoint</option>
  </select>

</td>
<td>Resource ident: <input id="resourceid" type="text" size="40" autofocus/>
</td>
<td> <button onclick="readAResource(   )">Read </button> 
       <button onclick="deleteAResource( )">Delete</button>
 
</td>
</tr>

<!--
---------------------------------------
UPDATE
---------------------------------------
-->
<tr>
<td><m><!-- Rtype <input id="updateresourcetype" type="text" value="Patient" size="20" autofocus/> -->
  <label for="Rtype">Rtype</label>
  <select name="Rtype" id="Rtype">	<!-- SEE it.unibo.HealthResource.ResourceUtility -->
    <option value="Patient">Patient</option>
    <option value="Organization">Organization</option>
    <option value="Endpoint">Endpoint</option>
    <option value="Observation">Observation</option>
    <option value="CarePlan">CarePlan</option>
    <option value="CareTeam">CareTeam</option>
    <option value="Goal">Goal</option>
    <option value="Encounter">Encounter</option>
    <option value="Practitioner">Practitioner</option>
  </select>

Rid <input id="updateresourceid" type="text" value="1439336" size="40" autofocus/></m>
</td>
<td><input type="file" id="jsonFileNameUpdate" /> 
</td>
<td> <button onclick="updateAResource(  )">Update </button> 
 
</td>
</tr>



<tr>
<td><hr/> 
</td>
<td> <hr/> 
</td>
<td>  <hr/> 
</td>
</tr>
<tr>

<!--
---------------------------------------
CONVERT
---------------------------------------
-->
<td><h4>HL7-FHIR. Template</h3> 
  <label for="cvttemplate">Choose a Template:</label>
  <select name="cvttemplate" id="cvttemplate">
    <option value="ADT_A01.hbs">ADT_A01</option>
    <option value="ORU_R01.hbs">ORU_R01</option>
    <option value="ORM_O01.hbs">ORM_O01</option>
    <option value="Task.hbs">Task</option>
  </select>

<!-- <input type="file" id="templatehl7FileName"  />  -->
</td>
<td><h4>HL7-FHIR. Data</h3> <label for="hl7FileName">HL7 data</label>
  <input type="file" id="hl7FileName" />
</td>
<td> 
  <button onclick="readHL7DataFromFile(  )">Convert </button> 
</td>
</tr>

<!--
---------------------------------------
MONITORING
---------------------------------------
-->
<tr>
<td>MONITORING 
</td>
<td> <button onclick="monitor('health')">Health</button>  &nbsp;&nbsp;  
<button onclick="monitor('metrics')">Metrics</button>  &nbsp;&nbsp;  
<button onclick="monitor('mappings')">Mappings</button> 

</td>
<td> 
<button onclick="monitor('env')">Env</button>  &nbsp;&nbsp;   
<button onclick="monitor('beans')">Beans</button> 
 
</td>
</tr>
 

 </tbody>
</table>
 
 

 <!--
****************************************************************************
OutputArea
****************************************************************************
-->  
 <h3>OutputArea <button onclick="cleanOutputArea()">Clean</button></h3> 
<pre class="resultArea"><span th:text="${outField}">waiting ... </span></i></pre>


 <!--
****************************************************************************
DATASTREAM
****************************************************************************
-->  
 <h3>DataStream <button onclick="startDataFlux()">Start</button> <button onclick="stopDataFlux()">Stop</button> 
 <input id="datachoice" type="checkbox"  name="datachoice" value="datachoice"><label for="asynchchoice">COLD GENERATOR</label>
|| <button onclick="subscribeTheHotDataFlux()">Subscribe the hot dataFlux</button> 
 </h3> 
<pre class="dataFluxArea"><span th:text="${outdataDluxField}">waiting ... </span></i></pre>


 </p>
 
<!--
****************************************************************************
USAGE
****************************************************************************

<h2>Usage</h2> 
Vi sono due modi di utilizzo: 
<ol> 
<li>Lanciare l'applicazione SpringBoot che presenta questa GUI. In questo caso si puo' anche ispezionare l'applicazione
mediante le feature di monitoring.</li>
<li>Lanciare una normale applicazione Java. Per questa modalita' si veda 
<a href="http://htmlpreview.github.com/?https://github.com/anatali/natmaterial/blob/master/HealthAdapterFacade/userDocs/HealthAdapterFacade.html#uso" 
target="web">DISI HealthAdapterFacade | Project description</a> </li>
 
</ol>

<h3>Using the GUI (TODO) </h3>
<m>
<ol>
 
</ol>

</m>
-->

 
<!--
****************************************************************************
EXPLANATION: 
****************************************************************************
-->
<h2>Explanation: 
<a href="http://htmlpreview.github.com/?https://github.com/anatali/natmaterial/blob/master/HealthAdapterFacade/userDocs/HealthAdapterPrototype1.html#Organizzazione" target="web"> 
DISI - HealthAdapterPrototype1.html</a></h2> 
<!--
See  <a href="http://htmlpreview.github.com/?https://github.com/anatali/natmaterial/blob/master/HealthAdapterFacade/userDocs/HealthAdapterFacade.html" target="web"> 
DISI - HealthAdapterFacade.html</a> (on <tt>natmaterial .... HealthAdapterFacade/userDocs/</tt>)
-->
<br/><br/>
<m>
Puo' essere anche utile guardare:

<a href="https://nhsconnect.github.io/CareConnectAPI/design.html" target="web">Care Connect RESTful APIs (by NHS Digital and INTEROPen community)</a>
</m>
</body>
</html>